/emacs/.emacs.d/straight/build-cache.el
/emacs/.emacs.d/straight/build/
/emacs/.emacs.d/straight/modified/
/emacs/.emacs.d/straight/repos/
/emacs/.emacs.d/var

/sbt/.sbt/.credentials
/sbt/**/project/
/sbt/**/target/

/xmonad/.xmonad/*-x86_64-linux
/xmonad/.xmonad/*.errors
/xmonad/.xmonad/*.hi
/xmonad/.xmonad/*.o
/xmonad/.xmonad/history
