/sbt/.sbt/.credentials
/sbt/**/project/
/sbt/**/target/

/spacemacs/.spacemacs.d/custom.el
/spacemacs/.spacemacs.d/.spacemacs.env

/xmonad/.xmonad/*-x86_64-linux
/xmonad/.xmonad/*.errors
/xmonad/.xmonad/*.hi
/xmonad/.xmonad/*.o
/xmonad/.xmonad/history
